*.class

.gradle
.idea
.idea_modules/
.eclipse
.settings/
.history
.classpath
.project

*.bak
test-result
server.pid
*.iml
*.eml
.cache

# Package Files #
*.jar
!gradle-wrapper.jar

*.war
*.ear



tmp/
build/
target/
out/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
